.houseContainer {
  background: #dedede;
  width: 48vw;
  min-width: 250px;
  margin: 10px;
}

.houseImg {
  width: 25vw;
  min-width: 200px;
}

.dashboardTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.dashButton {
  margin: 1vw;
}

.dashTitle {
  font-size: 42px;
  color: #3b5249;
  margin: 1vw;
}

.delete {
  margin: 5px;
  /* align-self: right; */
}
