* {
  color: inherit;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #afd4c0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.routes {
  /* margin-top: 75px; */
  height: 100%;
  margin-top: 75px;
  min-height: 100vh;
  width: 50vw;
  min-width: 300px;
  background: #e5f4ec;
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
